<h1><center><font color = 0F13B9>Restaurant Bucket List</font></center></h1>

{{outlet}}

<br>
<footer>
	<br>
	<hr>
	<p>{{#link-to "index"}}Start over{{/link-to}}</p>
	<hr>
	<center>2016 Ciara Lunger, ITP 404</center>
</footer>