<div class="container">
	<div class = "row">

<h3>Where are you?</h3>

{{#each model as |location|}}
  <div>
	{{#link-to "locations.meals" location.id}}
		{{location.name}}
	{{/link-to}}
  </div>
{{/each}}

{{outlet}}

	</div>
</div>